.tough-question-page-form-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #416085;
}

.tough-question-add-button {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}